.items-wrapper {
    border-radius: 5px;
    padding: 1rem;
    list-style-type: none;
    background-color: #1f2937;
    color: aliceblue;
    box-shadow: rgba(105, 104, 104, 0.25) 0px 0px 5px 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .25s ease-in-out;

    & > img {
        width: 300px;
        max-height: 300px;
        filter: drop-shadow(0 0 0.75rem black);
        transition: .25s ease-in-out;

        &:hover {
            transform: scale(1.025);
        }
    }

    &:hover {
        box-shadow: rgba(105, 104, 104, 0.8) 0px 0px 4px 2px;;
    }
}

.children-container {
    display: flex;
    flex-direction: column;
    margin: .5rem;
}

.product-name {
    font-size: 2rem;
    font-weight: 600;
}

.product-description {
    font-size: 1.25rem;
    color: rgba(240, 248, 255, 0.822);
}

.product-price {
    font-size: 1.25rem;

    span {
        font-size: 1.5rem;
        font-weight: 600;
    }
}

.no-stock {
    font-size: 1.25rem;
    font-weight: 600;
    color: rgba(77, 85, 92, 0.822);
}

.yup-stock {
    font-size: 1.25rem;
    font-weight: 500;
}