.carrito {
    padding: .3rem;
    width: 5.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    border-radius: 5px;
    text-align: center;
    transition: .5s ease-in-out;
    color: #ffffff;

    &:hover {
        background-color: #ffffff;
        color: #0d1b2a;
    }
    & > span {
        font-weight: 600;
    }
}