.wrapper {
    box-shadow: #1F2937 0px 1px 10px 2px;
    background-color: #1F2937;
}

.title {
    cursor: pointer;
    font-size: 2rem;
    transition: .5s ease-in-out;
    color: #ffffff;
    font-weight: bold;
    letter-spacing: .15rem;

    &:hover {
        color: #4a698d;
    }
}

.nav-ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.5rem;
    & > li {
        cursor: pointer;
        transition: .25s ease-in-out;
        color: #ffffff;
        & > a {
            color: #ffffff !important;

            &:hover {
                color: #4a698d !important;
            }
        }
    }
}