@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Flow+Rounded&family=Russo+One&display=swap');

.footer-wrapper {
    padding: 1rem;
    margin-bottom: -.9rem;
}


.footer-title {
    cursor: pointer;
    width: fit-content;
    font-size: 2.5rem;
    transition: .5s ease-in-out;
    color: #1F2937;
    font-weight: bold;
    letter-spacing: .15rem;
    font-family: 'Bungee', cursive;
    margin: 0 auto;

    &:hover {
        color: #4a698d;
    }
}